@font-face {
    font-family: TexFont;
    src: url(../js/output/chtml/fonts/woff-v2/MathJax_Main-Regular.woff);
}

html * {
    font-family: open-sans, sans-serif;
    font-size: 2.4vh;
    word-wrap: normal;
    transition: all 0.4s;
}

i {
    font-family: open-sans, sans-serif;
    font-style: italic;
}

h1 {
    font-size: 1.5em;
}

textarea {
    animation-duration: 0ms;
    animation-delay: 0ms;
    resize: horizontal;
    min-width: 100px;
}

.centerFlex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.form * {
    margin: auto;
}

.MathJax,
.MathJax * {
    background-color: transparent !important;
    font-size: 1em;
}

.bta {
    color: white;
    background: rgb(16, 106, 158);
    display: flex;
    padding: 1.2vh;
    margin: auto;
    margin-top: 2vh;
    max-width: fit-content;
    text-decoration: none;
    border-radius: 2px;
    border: none;
}

.bta:hover {
    border-radius: 1px;
    background: rgb(13, 95, 143);
}

.bt1 {
    color: white;
    background: rgb(15, 114, 172);
    border-radius: 2px;
    border: none;
    padding: 1.2vh;
}

.bt1:hover {
    border-radius: 1px;
    background: rgb(13, 95, 143);
}

.bt3 {
    color: white;
    background: rgb(172, 15, 15);
    border-radius: 2px;
    border: none;
    padding: 1.2vh;
}

.bt3:hover {
    border-radius: 1px;
    background: rgb(143, 13, 13);
}

.bt4_fill {
    color: white;
    background: rgb(17, 135, 204);
    border-radius: 2px;
    border: none;
    padding: 1.2vh;
    box-shadow: 0px 0px 3px 1px rgb(136, 212, 255);
}

.bt4_fill:hover {
    border-radius: 1px;
    background: rgb(13, 133, 202);
    box-shadow: 0px 0px 3px 3px rgb(111, 198, 248);
}

.bt4 {
    color: rgb(17, 135, 204);
    background: transparent;
    border-radius: 2px;
    border: 1px solid rgb(17, 135, 204);
    padding: 1.2vh;
    box-shadow: 0px 0px 3px 1px rgb(166, 222, 255);
}

.bt4:hover {
    border-radius: 1px;
    border: 1px solid rgb(13, 133, 202);
    box-shadow: 0px 0px 3px 3px rgb(111, 198, 248);
}

.bt_item {
    display: flex;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    max-height: 13vh;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.bt_svg {
    width: 3vh;
    height: 3vh;
    padding: 5px;
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.2s;
}

.bt_svg:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transform: rotate(5deg);
}

.bt_svg_wm {
    width: 3vh;
    height: 3vh;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s;
}

.bt_svg_wm:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transform: rotate(5deg);
}

a {
    text-decoration: none;
    color: rgb(60, 60, 80);
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 8%;
    background-color: rgb(16, 106, 158);
}

.menu_3bandes {
    margin: auto;
    font-size: 2em;
    border: none;
    background: none;
    transition-duration: 0.2s;
    cursor: pointer;
    transition: all 0.4s;
    transform: rotate(0deg);
}

.menu_3bandes:active {
    transform: rotate(90deg);
}

.menu_3bandes_down {
    transform: rotate(90deg);
}

.sidemenu {
    left: -25%;
    width: 25%;
    background-color: rgb(16, 106, 158);
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.4s;
    transition-duration: 0.2s;
}

.sidemenu_open {
    left: 0;
}


/* PC */


/* TELEPHONES */

@media screen and (max-width: 600px) {
    .sidemenu {
        left: -50%;
        width: 50%;
    }
    .sidemenu_open {
        left: 0;
    }
}

.lien_sidemenu {
    margin: 5px;
    margin-left: 10px;
}

.accountmenu {
    position: absolute;
    top: 8%;
    right: 0;
    transition: all 0.4s;
    transition-duration: 0.2s;
    display: flex;
}

.account_menu_cache {
    right: -100%;
}

.bt_account_menu {
    padding: 4px;
    background-color: rgb(16, 106, 158);
    border-top: 1px solid black;
}

.bt_account_menu:hover {
    background-color: rgb(13, 95, 143);
}

.cache {
    display: none;
}

#retour_bt {
    font-size: 3.2vh;
    border: none;
    padding: 1.2vh;
    color: white;
    background-color: rgb(16, 106, 158);
}

#retour_bt:hover {
    background-color: rgb(13, 95, 143);
}

.notify {
    border-radius: 50%;
    background-color: red;
    display: inline-flex;
    width: 0.9vh;
    height: 0.9vh;
    margin-bottom: 1vh;
}

.bt_tab {
    border: none;
    margin: 0;
    padding: 3px;
    height: 4vh;
    margin-top: auto;
    padding-left: 5vh;
    padding-right: 5vh;
}

.bt_tab_active {
    border: none;
    margin: 0;
    padding: 7px;
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: rgb(16, 106, 158);
    height: 5vh;
    margin-top: auto;
    border-radius: 10px 10px 0 0;
}

#div_result {
    display: none;
    overflow: scroll;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.visible_only_on_large_screen {
    display: none;
}

@media screen and (min-width: 600px) and (min-aspect-ratio: 1.1) {
    #bt_edit,
    #bt_view {
        display: none;
    }
    #div_textarea,
    #div_result {
        display: flex;
        margin: 5px;
        width: auto;
    }
    #div_result {
        overflow: scroll;
        border: 1px solid black;
        width: 100%;
        height: 100%;
        padding: 5px;
    }
    .visible_only_on_large_screen {
        display: block;
    }
}

@media screen and (max-width: 600px) and (max-aspect-ratio: 1.1) {
    .visible_only_on_large_screen {
        display: none;
    }
}

.c_pointer {
    cursor: pointer;
}

.bt2 {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.4s;
}

.bt2:hover {
    font-size: 1.23em;
    color: rgb(60, 60, 60);
}

.souligne {
    text-decoration: underline;
}

.container {
    display: block;
    overflow: auto;
}

.msg1 {
    background-color: rgb(118, 160, 209);
    border: none;
    border-radius: 2vh;
    margin: 2vh;
    margin-right: auto;
    padding: 1vh;
    width: 70%;
}

.msg2 {
    background-color: rgb(118, 132, 209);
    border: none;
    border-radius: 2vh;
    margin: 2vh;
    margin-left: auto;
    padding: 1vh;
    width: 70%;
}

@media screen and (min-width: 600px) and (min-aspect-ratio: 1.1) {
    .msg1,
    .msg2 {
        width: 50%;
    }
}

.img_car {
    width: 5vh;
    height: 5vh;
}

.grossi {
    transform: none;
    transition: all 0.4s;
    transition-duration: 0.4s;
}

.grossi:hover {
    transform: scale(1.1);
}


/*

Open Sans Bold
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: normal;

Open Sans Bold Italic
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: italic;

Open Sans Italic
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: italic;

Open Sans Regular
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;

Open Sans Condensed Bold
    font-family: open-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;

Open Sans Condensed Light
    font-family: open-sans-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;

Open Sans Condensed Light Italic
    font-family: open-sans-condensed, sans-serif;
    font-weight: 300;
    font-style: italic;

*/