html * {
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4vh;
    word-wrap: normal;
}

h1 {
    font-size: 1.5em;
}

.centerFlex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.form * {
    margin: auto;
}

.MathJax,
.MathJax * {
    background-color: transparent !important;
}

.bta {
    color: white;
    background: rgb(16, 106, 158);
    display: flex;
    padding: 1.2vh;
    margin: auto;
    margin-top: 2vh;
    max-width: fit-content;
    text-decoration: none;
    border-radius: 2px;
    border: none;
}

.bta:hover {
    border-radius: 1px;
    background: rgb(13, 95, 143);
}

a {
    text-decoration: none;
    color: rgb(60, 60, 80);
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 8%;
    background-color: rgb(16, 106, 158);
}

.menu_3bandes {
    margin: auto;
    font-size: 2em;
    border: none;
    background: none;
    transition-duration: 0.2s;
    cursor: pointer;
    transition: all 0.4s;
    transform: rotate(0deg);
}

.menu_3bandes:active {
    transform: rotate(90deg);
}

.menu_3bandes_down {
    transform: rotate(90deg);
}


/*

Open Sans Bold
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: normal;

Open Sans Bold Italic
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: italic;

Open Sans Italic
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: italic;

Open Sans Regular
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;

Open Sans Condensed Bold
    font-family: open-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;

Open Sans Condensed Light
    font-family: open-sans-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;

Open Sans Condensed Light Italic
    font-family: open-sans-condensed, sans-serif;
    font-weight: 300;
    font-style: italic;

*/